node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.docker
Dockerfile
.dockerignore
dist
.vscode
.idea
*.log
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local